.card-display {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 14rem; */
  height: 100%;
  width: 100%;
}

.card-display img {
  aspect-ratio: 1/1;
}

/* .card-text {
  font-size: 1.4rem;
} */

.card-img-top {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
